#paint {
  border: 1px solid black;
  background: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

article {
  display: flex;
  align-items: center;
  align-content: center;
}

.tile {
  min-width: max-content;
  justify-content: center;
}

label {
  margin-left: 1rem;
  font-weight: bold;
}

@media (max-width: 850px) {
  body {
    background-color: lightblue;
  }
}
